.DS_Store
public/system
log
tmp
service
empty.png
minus.png
plus.png
.rvmrc
.ruby-version
.ruby-gemset
.cache_gems
*.patch
*#
*~
crap
murks
.byebug_history
dumps
Dockerfile-*
prometheus_*
/misc
/.dockerignore
