[submodule "vendor/plugins/logjam"]
	path = vendor/plugins/logjam
	url = git@github.com:alpinegizmo/logjam.git
[submodule "vendor/plugins/time_bandits"]
	path = vendor/plugins/time_bandits
	url = git@github.com:skaes/time_bandits.git
